@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Unbounded:wght@200..900&display=swap');

::selection {
  border: 2px solid rgba(79, 79, 79, 0.101);
  background-color: #424242;
  color: #ffffff;
}

::-moz-selection {
  border: 2px solid rgba(79, 79, 79, 0.101);
  background-color: #424242;
  color: #ffffff;
}

a {
    text-decoration: none;
    color: #fff
}

.garland {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  z-index: 9999;
}

.light {
  position: absolute;
  top: 20px;
  border-radius: 50%;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

body {
    margin: 0;
    background: #121212;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .avatar {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 4px dashed #ff9e36;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 500px #ff9e36;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  
  .avatar:hover {
    transform: scale(0.95);
  }
  
  .confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
  }
  
  .click-counter {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 16px;
    background: #1f1f1f;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #333;
    color: #fff;
    z-index: 1000;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    color: #d3d3d3
  }

  .highlight {
    color: #ffffff;
    background: #ff921e;
    padding: 4px 4px;
    border-radius: 10px;
  }

  .age {
    font-family: 'Sono', sans-serif;
    color: #d3d3d3;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .desc {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 800px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #858585;
    margin-bottom: 40px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    background: #1f1f1f;
    border: 2px solid #333;
    border-radius: 16px;
    padding: 16px;
    width: 300px;
    gap: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    background: #282828;
    transform: translateY(2px);
  }

  .card a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
  }
  
  .card-icon {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    background: #2c2c2c;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .card-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  
  .card-text p {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #aaa;
    line-height: 1.4;
  }
  
  .modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #1f1f1f;
    padding: 50px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
  }

  .modal-icon {
    width: 40px;
    height: 40px;
    background: #2c2c2c;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .modal-title {
    gap: 15px;
    align-items: center;
    display: flex;
  }

  .card-link {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    background: #1f1f1f;
    border: 2px solid #333;
    border-radius: 16px;
    padding: 16px;
    width: 300px;
    gap: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: relative;
  }
  
  .card-link a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
  }
  
  .card-link-icon {
    margin-right: 15px;
    width: 60px;
    background: #2c2c2c;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;
  }
  
  .card-link-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  
  .card-link-text p {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #aaa;
    line-height: 1.4;
  }
  
  .card-link.telegram:hover {
    border-color: #00d5ff;
    box-shadow: 0 0 12px rgba(31, 171, 241, 0.747);
    transform: translateY(-2px);
  }
  
  .card-link.discord:hover {
    border-color: #5865f2;
    box-shadow: 0 0 12px rgba(0, 119, 255, 0.6);
    transform: translateY(-2px);
  }

  .card-link.twitch:hover {
    border-color: #67198e;
    box-shadow: 0 0 12px rgba(142, 22, 255, 0.777);
    transform: translateY(-2px);
  }
  
  .card-link.twitch:hover .card-link-text h3 .twitch {
      color: #c042ff;
      transition: 0.5s ease;
  }

  .card-link.discord:hover .card-link-text h3 .discord {
    color: #5865f2;
    transition: 0.5s ease;
  }

  .card-link.telegram:hover .card-link-text h3 .telegram {
    color: #42c3ff;
    transition: 0.5s ease;
  }

  .tape-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    z-index: 99999;
    overflow: hidden;
  }
  
  .tape {
    position: absolute;
    width: 150%;
    left: -25%;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: repeating-linear-gradient(
      -45deg,
      #ffdd00 0 20px,
      #000000 20px 40px
    );
    overflow: hidden;
    transform-origin: center;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
  }
  

  .tape:nth-child(1) { top: 0%; transform: rotate(-12deg);}
  .tape:nth-child(2) { top: 5%; transform: rotate(8deg);}
  .tape:nth-child(3) { top: 10%; transform: rotate(-6deg);}
  .tape:nth-child(4) { top: 15%; transform: rotate(10deg);}
  .tape:nth-child(5) { top: 20%; transform: rotate(-8deg);}
  .tape:nth-child(6) { top: 25%; transform: rotate(6deg);}
  .tape:nth-child(7) { top: 30%; transform: rotate(-5deg);}
  .tape:nth-child(8) { top: 35%; transform: rotate(7deg);}
  .tape:nth-child(9) { top: 40%; transform: rotate(-9deg);}
  .tape:nth-child(10){ top: 45%; transform: rotate(10deg);}
  .tape:nth-child(11){ top: 50%; transform: rotate(-7deg);}
  .tape:nth-child(12){ top: 55%; transform: rotate(5deg);}
  .tape:nth-child(13){ top: 60%; transform: rotate(-10deg);}
  .tape:nth-child(14){ top: 65%; transform: rotate(8deg);}
  .tape:nth-child(15){ top: 70%; transform: rotate(-6deg);}
  .tape:nth-child(16){ top: 75%; transform: rotate(9deg);}
  .tape:nth-child(17){ top: 80%; transform: rotate(-8deg);}
  .tape:nth-child(18){ top: 85%; transform: rotate(6deg);}
  .tape:nth-child(19){ top: 90%; transform: rotate(-5deg);}
  .tape:nth-child(20){ top: 95%; transform: rotate(7deg);}
  
@media (max-width: 900px) {
  .desc {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .buttons {
    gap: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
  }

  .card-link {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    background: #1f1f1f;
    border: 2px solid #333;
    border-radius: 16px;
    padding: 16px;
    width: 270px;
    gap: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: relative;
  }

  
  .modal-content {
    background: #1f1f1f;
    padding: 30px;
    width: 70%;
    border-radius: 12px;
    color: #fff;
    text-align: center;
  }


  .button {
    width: 85%;
    padding: 15px;
  }

  .button p {
    font-size: 12px;
  }

  .button-icon {
    font-size: 24px;
  }

  .card-link {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    background: #1f1f1f;
    border: 2px solid #333;
    border-radius: 16px;
    padding: 16px;
    width: 230px;
    gap: 10px;
    transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: relative;
  }
  
  .card-link a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
  }
  
  .card-link-icon {
    margin-right: 15px;
    width: 40px;
    background: #2c2c2c;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;
  }
  
  .card-link-text h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
  }
  
  .card-link-text p {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #aaa;
    line-height: 1.4;
  }

}

