#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}

.snowflake {
    position: absolute;
    top: -50px;
    color: rgb(71, 61, 251);
    font-size: 10px;
    opacity: 0.8;
    text-shadow: 0 0 8px rgba(106, 48, 255, 0.8), 0 0 12px rgba(78, 62, 255, 0.5);
    animation: fall linear infinite, sway ease-in-out infinite, glow 4s ease-in-out infinite, colorChange 6s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 8px rgba(86, 83, 244, 0.8), 0 0 12px rgba(213, 213, 213, 0.5);
    }
    50% {
        text-shadow: 0 0 16px rgba(255, 255, 255, 1), 0 0 24px rgba(83, 99, 243, 0.8);
    }
}

@keyframes colorChange {
    0% {
        color: #1f13ff;
    }
    25% {
        color: rgb(121, 217, 255);
    }
    50% {
        color: rgb(255, 255, 255);
    }
    75% {
        color: rgb(83, 199, 237);
    }
    100% {
        color: rgb(71, 61, 251);
    }
}

@keyframes fall {
    to {
        transform: translateY(80vh);
    }
}

@keyframes sway {
    50% {
        transform: translateX(70px);
    }
    100% {
        transform: translateX(-10px);
    }
}
